<div class="container mt-5 mb-5">
<section class="news pt-0">
    <ul class="row d-lg-flex list-unstyled image-block justify-content-center px-lg-0 mx-lg-0">
      <li class="col-lg-4 col-md-5 image-block full-width p-3" *ngFor="let post of posts">
        <div class="image-block-inner">
            <img src="{{post.imageURL}}" alt="LunarXP Wins Space Innovator of the Year Award" class="img-responsive img-fluid w-100">
          <span class="hp-posts-cat"></span>
          <h2 class="m-3 p-3">{{post.title}}</h2>
          <a routerLink="/news/{{post.id}}" class="read-more">Read more</a>
        </div>
      </li>
    </ul>
</section>
</div>
